@import '../HeroSection/HeroSection.scss'; // for getting the inter font
.about-section{
    height: 600px;
    background-color: #181C14;
    
    h2{
        color: #ECDFCC;
        @extend .inter;
    }
    .about-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 90px;
        }
        p{
            padding: 40px;
            color: #ECDFCC;
            font-size: 23px;
            text-align: justify;
        }
        img{
            width: 50%;
            height: 100%;
            background-color: #ECDFCC;
            padding: -5px;
            border-radius: 50%;
            
            
        }
}